.main {
    display: flex;
  flex-direction: row;
    width: 100%;
    min-width: 1000px;
}

.left {
    width: 50%;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftMain{
    min-width: 400px;
}

.right {
    width: 50%;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightMain{
    min-width: 400px;
}
.inputs{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    
  
}

.innerInputs{
    width: 50%;
    font-size: 25px;

}


.innerInput{
    width: 50%;
    font-weight: bold;
    font-size: 25px;
}

h1{
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
 
.totalContainer{
    width: 100%;
    height: 100vh;
}
.header{
    width: 100%;
    min-width: 1000px;
    height: 60px;
    background-color: #4CAF50;
margin-bottom: 100px;
top: 0;
position: sticky;
display: flex;
align-items: center;
justify-content:space-between;
color: white;
font-size: 35px;
font-weight: bold;
    
}
  


  

  
  
  